:root {
  --primary: #ff6500;
  --secondary: #efefef;
  --tertiary: #dddfe2;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--tertiary);
}
.logo-img {
  border-radius: 50%;
  width: 100px;
}

.logout-btn {
  font-size: large;
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 40px;
  background-color: var(--primary);

  &:hover {
    cursor: pointer;
  }
}

main {
  width: 90vw;
  margin: 0 auto;
}

.section-header {
  color: var(--primary);
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid var(--tertiary);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
}

thead {
  background-color: var(--secondary);
}

thead th:first-child {
  border-top-left-radius: 6px;
}
thead th:last-child {
  border-top-right-radius: 6px;
}

td,
th {
  padding: 10px;
  border-bottom: 1px solid var(--tertiary);
}

table tr:last-child td {
  border-bottom: none;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

td.total {
  text-align: right;
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 40px;
}

tr:hover {
  background-color: var(--table-row-hover-bg);
}

.quantity {
  width: 30px;
}

.place-order-container {
  margin: 15px 40px;
  display: flex;
  justify-content: end;
}

.action {
  color: var(--primary);
}
.action-icon {
  width: 20px;
}

.validators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 20px 0;
  background-color: var(--primary);
  position: sticky;
  bottom: 0;
  width: 100%;
}

#player-container {
  --input-range-before-width: 0%;
  display: flex;
  gap: 20px;
  flex-basis: 70%;
  justify-content: space-between;
  align-items: center;
}

#player-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
  background: linear-gradient(to right, #ff6500, #ff8a00);
  z-index: -1;
}

.player-controls {
  display: flex;
}

.player-control-img {
  width: 30px;
  color: var(--primary);
  cursor: pointer;
}

.player-song {
  flex-basis: 75%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.song-title {
  font-size: medium;
  font-weight: bold;
}

.artist-name {
  font-size: small;
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  height: 19px;
  float: left;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--tertiary);
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--input-range-before-width);
  height: 3px;
  background-color: var(--primary);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid var(--tertiary);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  cursor: pointer;
  margin: -7px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--primary);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--tertiary);
}
input[type="range"]::-moz-range-progress {
  background-color: var(--tertiary);
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid var(--primary);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--primary);
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: var(--tertiary);
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: var(--tertiary);
}
input[type="range"]::-ms-fill-upper {
  background: var(--tertiary);
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid var(--primary);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--tertiary);
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: var(--tertiary);
}
